* {
  box-sizing: border-box;
  line-height: 1.42;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: $primary-color;
}

a:hover {
  color: $primary-color-dark;
  text-decoration: underline;
}

@font-face {
  font-family: "Conv_helvetica-normal-58a368459c773";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/helvetica-normal-58a368459c773.eot");
  src:
    local("☺"),
    url("/fonts/helvetica-normal-58a368459c773.woff") format("woff"),
    url("/fonts/helvetica-normal-58a368459c773.ttf") format("truetype"),
    url("/fonts/helvetica-normal-58a368459c773.svg") format("svg");
}

@font-face {
  font-family: "helvetica-black";
  font-weight: 400;
  padding-top: 120px;
  src: url("/fonts/helvetica-neue-lt-std-95-black-58a3671d40c1b.otf");
}

body {
  background: rgba(0, 0, 0, 0.97) url("/images/background.jpg") repeat-y scroll 0% 0% / 100% auto;
  font-family: "Conv_helvetica-normal-58a368459c773", sans-serif;
  overflow-y: scroll;
}

.main {
  background: url("/images/logo.png") center 45px no-repeat;
  padding-top: 40px;
}

.hidden {
  opacity: 0;
}

.slide-up {
  max-height: 0 !important;
  overflow: hidden;
  transition: max-height 2s;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in {
  animation: fadein 2s;
  opacity: 1;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.page {
  background-color: #fff;
  border-radius: 5px;
  margin: 100px auto 20px;
  padding: 15px 30px;
  width: 75%;
}

a.button {
  color: #fff;
}

.button {
  background-color: $primary-color;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  padding: 17px 12px 10px;

  &:hover {
    background-color: $primary-color-dark;
    text-decoration: none;
  }
}

/**
 * Mobile (smaller than iPad)
 */
@include tablet {
  body {
    background-size: auto auto;
  }

  .main {
    background-position: center top;
    margin: 0 20px;
    padding-top: 60px;
  }

  .page {
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
  }
}

