/* Colors */
$primary-color: #00aa51; // CSED green
$primary-color-dark: #094; // Darker green for hover/active states

/* Media query sizes */
$tablet-width: 768px;

/* Media queries */
@mixin tablet {
  @media only screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

/* 'Back' link with left arrow icon */
.back {
  background: url("/images/arrow-left.png") no-repeat center left;
  color: $primary-color;
  cursor: pointer;
  padding-left: 30px;
}

.back:hover {
  color: $primary-color-dark;
}

