.directory-component {
  text-align: left;

  .directory__list {
    list-style-type: none;
    padding-left: 0;
  }

  .directory-item {
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
    padding-bottom: 15px;
  }
}

