.enterprisesummary-component {
  margin-top: 10px;
}

.enterprise {
  display: table;
}

.enterprise__logo {
  width: 160px;
}

.enterprise__logo,
.enterprise__details {
  display: table-cell;
  vertical-align: top;
}

.enterprise__logo img {
  margin-right: 20px;
  margin-top: 10px;
  width: 140px;
}

.enterprise__title {
  margin-bottom: 10px;
  margin-top: 0;
}

.enterprise__description {
  margin-bottom: 10px;
}

/**
 * Mobile (smaller than iPad)
 */
@include tablet {
  .enterprise,
  .enterprise__logo,
  .enterprise__details {
    display: block;
  }

  .enterprise__logo {
    margin-bottom: 10px;
  }

  .enterprise__logo img {
    margin-left: 0;
  }

  .enterprise__details {
    margin-top: 0;
  }
}

