.privacy-policy {
  @extend .chat;
  font-size: 11px;
}

.rhok {
  color: #fff;
  font-size: 13px;
  margin: 0;
  padding-top: 16px;
  text-align: center;
}

.powered_by {
  color: #fff;
  font-size: 13px;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.chat,
.apply,
.title,
.tagline {
  color: #fff;
}

.apply {
  padding-top: 16px;
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: 400;
  margin: 0 10px;
  text-transform: uppercase;
}

.tagline {
  font-size: 16px;
  margin: 15px 0;
}

.homepage-component > span {
  display: block;
  min-height: 60px;
}

.intro {
  padding-top: 150px;
  text-align: center;

  .title {
    font-family: "helvetica-black";
  }
}

.intro.slide-up {
  padding-top: 82px;
  transition: padding-top 2s;
}

.intro.collapsed {
  max-height: 0;
  overflow: hidden;
}

.chat {
  padding-top: 16px;
  text-align: center;
}

/**
 * Mobile (smaller than iPad)
 */
@include tablet {
  .title {
    font-size: 32px;
  }

  .tagline {
    font-size: 28px;
  }

  .intro {
    padding-top: 30px;
  }
}
