.search-form {
  margin: 40px auto 0;
  text-align: center;
  width: 50%;

  .button {
    min-width: 115px;
  }
}

.button--search {
  margin-right: 20px;
}

.search-field {
  border: 0;
  border-radius: 5px;
  display: inline-block;
  font-size: 25px;
  margin: 0 0 20px;
  padding: 12px;
  width: 100%;
}

.search-near-label {
  background-color: $primary-color;
  border: 0;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}

.search-location-field {
  border: 0;
  border-radius: 0 3px 3px 0;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 15px;
  padding: 10px;
  width: 50%;
}

.search-button:hover {
  background-color: $primary-color-dark;
}

/**
 * Mobile (smaller than iPad)
 */
@include tablet {
  .search-form {
    width: auto;
  }

  .search-field {
    padding-right: 12px;
  }

  .search__field-button {
    border: 0;
    height: auto;
    width: auto;

    .button--search {
      border: 1px solid #000;
      border-radius: 5px;
      display: block;
      margin: 20px auto 0;
      padding: 10px 12px;
      position: static;
      width: auto;
    }
  }
}
