.search-results {
  list-style-type: none;
  text-align: left;
}

.search-result {
  border-bottom: 1px solid #ddd;
  margin-top: 25px;
  padding-bottom: 15px;
}

.search-result:last-child {
  border: 0;
}

