* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #693;
}

a:hover {
  color: #360;
  text-decoration: underline;
}

html,
body,
.main,
.tint {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #4c4c4c url("/images/background.jpg") no-repeat scroll 0% 0% / 100% auto;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}

.tint {
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-up {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in {
  opacity: 1;
  transition: opacity 4s;
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  body {
    background-size: auto auto;
  }

  .main-container {
    margin: 0 20px;
  }
}

