* {
  box-sizing: border-box;
  line-height: 1.42;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #693;
}

a:hover {
  color: #360;
  text-decoration: underline;
}

html,
body,
.main,
.tint {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #4c4c4c url("/images/background.jpg") no-repeat scroll 0% 0% / 100% auto;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}

.main {
  padding-top: 40px;
}

.tint {
  background-color: rgba(0, 0, 0, 0.7);
}

.slide-up {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s;
}

.page {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px auto;
  padding: 15px 30px;
  width: 75%;
}

a.button {
  color: #fff;
}

.button {
  background-color: #693;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  padding: 10px 12px;

  &:hover {
    background-color: #360;
    text-decoration: none;
  }
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  body {
    background-size: auto auto;
  }

  .main {
    margin: 0 20px;
  }

  .page {
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
  }
}

