* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: #693;
}

a:hover {
  color: #360;
  text-decoration: underline;
}

html,
body,
.main,
.tint {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #4c4c4c url("/images/background.jpg") no-repeat scroll 0% 0% / 100% auto;
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}

.tint {
  background-color: rgba(0, 0, 0, 0.7);
}

.title,
.tagline {
  color: #fff;
}

.title {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.tagline {
  font-size: 32px;
}

.intro {
  max-height: 360px;
  padding-top: 180px;
  text-align: center;
}

.slide-up {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in {
  opacity: 1;
  transition: opacity 4s;
}

