.applicationform-component {
  list-style-type: none;
  text-align: left;

  label {
    display: block;
    font-weight: bold;
    margin: 15px 0 5px;

    &.required::before {
      color: red;
      content: "* ";
      margin-left: -1em;
    }
  }

  [type="submit"] {
    display: block;
    margin-top: 15px;
  }

  textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 8px;
  }
}

