.enterprise {
  display: table;
}

.enterprise__logo,
.enterprise__details {
  display: table-cell;
  vertical-align: middle;
}

.enterprise__logo img {
  margin-right: 10px;
  width: 140px;
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  .enterprise,
  .enterprise__logo,
  .enterprise__details {
    display: block;
  }

  .enterprise__logo {
    text-align: center;
  }

  .enterprise__details {
    margin-top: 0;
  }
}

