.enterprise {
  display: table;
}

.enterprise__logo,
.enterprise__details {
  display: table-cell;
  vertical-align: top;
}

.enterprise__logo img {
  margin-left: -10px;
  margin-right: 20px;
  width: 140px;
}

.enterprise__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.enterprise__description {
  margin-bottom: 10px;
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  .enterprise,
  .enterprise__logo,
  .enterprise__details {
    display: block;
  }

  .enterprise__logo {
    text-align: center;
  }

  .enterprise__details {
    margin-top: 0;
  }
}

