.enterprise__logo {
  display: inline;
}

 .enterprise__title {
 	padding: 0em 1em; 
 	vertical-align: top;
  display: inline;
}
  /* Tmp: until we have resized images */
  img {
    height: 78px;
    width: 78px;
  }

