.title,
.tagline {
  color: #fff;
}

.title {
  font-size: 60px;
  font-weight: bold;
  margin: 0 10px;
  text-transform: uppercase;
}

.tagline {
  font-size: 32px;
  margin: 15px 0;
}

.intro {
  padding-top: 150px;
  text-align: center;
}

.intro.slide-up {
  padding-top: 0;
  transition: padding-top 2s;
}

.intro.collapsed {
  max-height: 0;
  overflow: hidden;
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .tagline {
    font-size: 28px;
  }

  .intro {
    padding-top: 30px;
  }
}

