.resultslist-component {
	margin-top: 50px;
	color: white;

	ul {
		list-style-type: none;

		.results-container__enterprise{
			font-size: 45px;
		}
	}
}

/*
<div key={index + 'title'} className="results-container__enterprise">{enterprise.title}</div>
<div key={index + 'description'} className="results-container__description">{enterprise.description}</div>
<div key={index + 'website'} className="results-container__website"><a key={index + 'link'} href={enterprise.website}>Website</a></div>
*/      					