.search-results {
  background-color: #fff;
  border-radius: 5px;
  list-style-type: none;
  margin: 20px auto;
  opacity: 0.7;
  padding: 15px 30px;
  text-align: left;
  width: 95%;
}

.search-result {
  margin-top: 15px;
  padding-bottom: 15px;
}

