.search-results {
  background-color: #fff;
  border-radius: 5px;
  list-style-type: none;
  margin: 20px auto;
  opacity: 0;
  padding: 15px 30px;
  text-align: left;
  width: 75%;
}

.search-result {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  padding-bottom: 15px;
}

.search-result:last-child {
  border: 0;
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  .search-results {
    border-radius: 0;
    margin-left: -20px;
    margin-right: -20px;
    width: auto;
  }
}

