.search-form {
  margin: 40px auto 0;
  text-align: center;
  width: 50%;
}

.search__field-button {
  border: 1px solid #000;
  border-radius: 5px;
  height: 55px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;

  .button--search {
    border-radius: 0 5px 5px 0;
    border-width: 0 0 0 1px;
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    right: 0;
    top: 0;
    width: 98px;
  }
}

.search-field {
  border: 0;
  border-radius: 5px;
  display: inline-block;
  font-size: 25px;
  margin: 0;
  padding: 12px;
  padding-right: 98px;
  width: 100%;
}

.search-button:hover {
  background-color: #360;
}

/**
 * Mobile (smaller than iPad)
 */
@media only screen and (max-width: 768px) {
  .search-form {
    width: auto;
  }

  .search-field {
    padding-right: 12px;
  }

  .search__field-button {
    border: 0;
    height: auto;
    width: auto;

    .button--search {
      border: 1px solid #000;
      border-radius: 5px;
      display: block;
      margin: 20px auto 0;
      padding: 10px 12px;
      position: static;
      width: auto;
    }
  }
}

