.searchresults-component {
  border: 1px dashed #f00;
  color: white;
  margin-top: 45px;

  ul {
    list-style-type: none;
  }
}

.search-results {
  background-color: #fff;
  border-radius: 5px;
  list-style-type: none;
  margin: 20px auto;
  opacity: 0;
  padding: 15px 30px;
  text-align: left;
  width: 75%;
}

.search-result {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  padding: 0 8px 15px;
}

.search-result:last-child {
  border: 0;
}

